

#contact{
    height: 400px;
    background-color: rosybrown;
    margin-top: 300px;
    position: relative;
}
.contact-text{
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: 'Lobster two'
}
#contact ul{
    top: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 0;
    margin: 0;
}
#contact ul li{
    list-style: none;
    margin: 0 15px;
}
#contact ul li .fa{
    font-size: 40px;
    color: black;
    padding: 5px;
    transition: .6s;
    line-height: 55px;
}
#contact ul li .fa:hover{
    color: white;
}

#contact ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: .4s;
    box-shadow:  0 5px 4px rgba(0,0,0,.5);
}
#contact ul li a:hover{
    transform: translate(0, -10px);
}
#contact ul li a:hover{
    background-color: black;
    color: white;
}